@page
@model PodProgramar.LnkCapture.Telegram.Webhook.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#FE972E">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">

    <title>LnkCapture</title>

    <link rel="icon" type="image/x-icon" href="~/content/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="~/content/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/content/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/content/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/content/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/content/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/content/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/content/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/content/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/content/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/content/icons/favicon-16x16.png">
    <link rel="manifest" href="~/content/manifest.json">

    <link rel="stylesheet" href="~/lib/framework7/framework7.min.css">
    <link rel="stylesheet" href="~/css/framework7-icons.css">
    <link rel="stylesheet" href="~/css/icons.css">
    <link rel="stylesheet" href="~/css/app.css">
</head>
<body>
    <div id="app" class="color-theme-orange theme-dark">
        <div class="statusbar"></div>
        <div class="view view-main ios-edges">
            <div class="page" data-name="home">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="title sliding">LnkCapture</div>
                    </div>
                </div>
                <div class="fab fab-right-bottom">
                    <a href="/filters/" class="">
                        <i class="icon material-icons md-only">search</i>
                    </a>
                </div>
                <div class="page-content">
                    <input type="hidden" id="DefaultStartDate" value="@Model.DefaultStartDate.ToString("yyyy-MM-dd")" />
                    <input type="hidden" id="DefaultEndDate" value="@Model.DefaultEndDate.ToString("yyyy-MM-dd")" />
                    <div class="list">
                        <ul>
                            <li>
                                <a href="#" class="item-link smart-select smart-select-init" data-open-in="sheet">
                                    <select name="chatId" id="chatId">
                                        @foreach (var chat in Model.Chats)
                                        {
                                            <option value="@chat.Key" @(chat.Key == Model.ChatId ? "selected" : "" )>@chat.Value</option>
                                        }
                                    </select>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Chat</div>
                                            <div class="item-after"></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="card data-table">
                        <table id="tblinks">
                            <thead>
                                <tr>
                                    <th class="label-cell">Link</th>
                                    <th class="label-cell">User</th>
                                    <th class="label-cell">Creation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                        <div class="progressbar-infinite"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="data-table-footer text-color-white"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/framework7/framework7.min.js"></script>
    <script type="text/javascript" src="~/lib/site/lnkcature.min.js"></script>
</body>
</html>